<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Data Santri Qaryatus Salam (QS) yang sudah vaksin</title>

</head>
<body>
    <h2>
        <a href="/">home</a>
    </h2>
    <h1>detail</h1>
    <span>nama santri:{{context[1]}}</span>
    <br>
    <span>umur santri:{{context[2]}}</span>
    <br>
    <span>jumlah_vaksin santri:{{context[3]}}</span>
    <br>
    <span>keterangan santri:{{context[4]}}</span>

</body>
</html>