<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Santri Qaryatus Salam (QS) yang sudah vaksin</title>

          <style>
            table, th, td {
              border: 1px solid  black;
            }
          </style>
<head>
<body>
    detail santri
    <form action="" method="POST"
        <label for="">nama</label>
        <input name="nama" value="{{context[1]}}" type="text">
        <label for="">umur</label>
        <input name="umur" value="{{context[2]}}" type="text">
        <label for="">jumlah_vaksin</label>
        <input name="jumlah_vaksin" value="{{context[3]}}" type="text">
        <button type="submit">update</button>
    </form>
    
</body>
</html>