<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, 
        th {
            border: 1px solid  #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color:   #dddddd
        }
    </style>
</head>

<body>
    <div>
        <h1>ini request</h1>
        <form action="" method="post">
            <input name="nama" type="text" <required>
            <input name="detail" type="text" <required>
            <button type="submit">kirim</button>

        </form>

        <hr>
        <h1>ini response</h1>
        <br>
        <table>
            <tr>
                <th>id</th>
                <th>nama</th>
                <th>actions</th>
                <!--<th>detail</th>-->
            </tr>
            {% for d in context %}
            <tr>
                <td>{{loop.index}}</td>
                <!-- <td>{{d[0]}}</td> -->
                <td>{{d[1]}}</td>
                <td>
                    <a href="/detail/{{d[0]}}">
                         <button class="btn btn-info">detail</button>
                    </a>
                    <a href="/update/{{d[0]}}">
                        <button class="btn btn-warning">update</button> 
                    </a>
                    <a href="/delete/{{d[0]}}">
                        <button class="btn btn-danger">delete</button> 
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>